$base-color-header: #00c0ff;
$base-color-footer: #b3a709;
$border-dark: rgba($base-color-footer, 0.88);
$background-color: rgb(255, 255, 255);
$font-color: rgb(0, 0, 0);
$img-color: none;
$text-color-main: none;
$second-element-color: #128ab3;

$third-element-color: #ff0042;
